// colors

// $prime-color: #233d4d;
// $accent-color: #566974;

// $font-color: #f6f6f6;
// $font-color-not-active: #dfdfdf;

// $icons-color: rgb(242, 242, 242);
// $icons-color--action: #f0c392;

// $done: #00ce89;
// $notDone: #e90074;
$prime-color: #f0f0f0;
$accent-color: #FEFEFE;
$details-color: #ddd;

$font-color: #404040;
$font-color-not-active: #8c8c8c;

$icons-color: #bbb;
$icons-color--action: #5e5e5e;

$done: #00ce89;
$notDone: #e90074;